.welcome-header {
    margin: 90px 0px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.welcome-header__title {
    margin-bottom: 20px;
    font-size: 25px;
}

.welcome-header_text {
    width: 60%;
    opacity: 0.7;
    /*글자 투명도 줄임*/
}

#login-form {
    display: flex;
    flex-direction: column;
    margin: 0px 30px;
}

#login-form input {
    border: none;
    /*테두리 없앰*/
    padding: 15px 0px;
    font-size: 18px;
    margin-bottom: 20px;
}

/*input type이 submit이 아닐때에만 trabsition이 적용*/
#login-form input:not([type="submit"]) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    transition: border-color .3s ease-in-out;
}

#login-form input::placeholder {
    color: rgba(0, 0, 0, 0.4);
}

#login-form input:focus {
    border-color: var(--yellow);
}

#login-form input[type="submit"] {
    background-color: var(--yellow);
    cursor: pointer; /*커서를 가져다 놨을때 변화*/
    font-size: 15px;
    padding: 20px 0px;
    border-radius: 5px; /*테두리둥글게*/
}

#login-form a {
    text-align: center;
    text-decoration: none;
    color: inherit;
    font-size: 13px;
}