.icon-row {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}

.icon-row__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon-row__icon i {
  /*icon-row__icon에 i에 해당하는 것 */
  font-size: 35px;
}

.icon-row__icon span {
  margin-top: 18px;
}
