.status-bar {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 5px 2.5px;
}

.nav {
  position: fixed; /*어떠한 상황에서도 위치를 고정*/
  bottom: 0;
  width: 100%; /*이걸 안하면 postion 실행시 폭 간격이 무너짐*/
  background-color: #f9f9fa;
  padding: 20px 50px;
  box-sizing: border-box;
  border-top: 1px solid rgba(121, 121, 121, 0.3);
}

.nav_list {
  display: flex;
  justify-content: space-between;
}

.nav_link {
  position: relative;
  color: #2e363e;
}

@keyframes notificationAnimation {
  0% {
    transform: none;
  }
  50% {
    transform: translateY(-5px) rotateY(360deg);
  }
  100% {
    transform: none;
  }
}

/*
position: absolute은 가장 가까운 relative를 가진 부모 기준으로 움직임
따라서 nav_notification의 부모인 nav_link 에다가 position: relaitve 추가
*/
.nav_notification {
  position: absolute;
  left: 20px;
  bottom: 15px;
  animation: notificationAnimation 2s ease-in-out infinite;
}

.nav_dot {
  background-color: tomato;
  width: 6px;
  height: 6px;
  border-radius: 3px;
  position: absolute;
  left: 25px;
  bottom: 30px;
}

@keyframes appearBtnAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.nav__btn {
  transform: translateY(50px);
  opacity: 0;
  animation: appearBtnAnimation 1s ease-in-out forwards;
}

.nav__btn:nth-child(2) {
  animation-delay: 0.2s;
}
.nav__btn:nth-child(3) {
  animation-delay: 0.5s;
}
.nav__btn:last-child {
  animation-delay: 0.8s;
}
